.produitall{
    margin-top: 50px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
}
.card {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 3px rgb(9, 9, 9);
}
.card .produit{
    height: 150px;
    border-radius:40px  ;
    border-left: 3px solid black;
    border-top: 3px solid black;

}
.mapflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card .produit:hover{
    border-radius:40px  ;
    box-shadow: 0 3px 8px rgb(70, 45, 3);
    border-left: 3px solid green;
    border-bottom: 3px solid green;
    box-shadow: 0 5px 10px rgb(202, 235, 203);
    /* transform: scale(0.3); */
}
.card-body #achat{
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    background-color: green;
    border-radius: 20px 0px;
    box-shadow: 0 5px 10px rgb(12, 99, 14);
    text-align: center;
   
}
.card-body #detail{
    text-decoration: none;
    color: white;
    padding: 5px ;
    background-color: red;
    border-radius: 20px 0px;
    box-shadow: 0 5px 10px rgb(249, 118, 118);
   
}

@media screen and (max-width: 700px) {
    .produit img{
        width: 330px;
        height: 150px;
        text-align: center;
        justify-content: center;
        padding: 5px;
    }
    .detailProduit{
        display: inline;
    }
    
}


.detailProduit{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    border: 1px solid ;
    border-bottom-right-radius: 50px;
    margin-left: 200px;
    margin-right: 200px;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.imagedetail{
justify-content: center;
}
.autredetail{
    width: auto;
    justify-content: center;
}
.autredetail p{
    font-size: 40px;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.descproduit, .prixproduit{
color: red;
font-size: 30px;
font-style: italic;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-top: 10px;
}
.card-body{
    margin-top: 20px;
}
.card-body #addpanier{
    text-decoration: none;
    color: white;
    padding: 10px ;
    background-color: green;
    border-radius: 20px 0px;
    box-shadow: 0 5px 10px rgb(11, 11, 11);
    margin-right: 5px;
   
}
.card-body #contact{
    
    text-decoration: none;
    color: white;
    padding: 10px ;
    background-color: rgb(224,119,13);
    border-radius: 20px 0px;
    box-shadow: 0 5px 10px rgb(11, 11, 11);
   
}