.produitall{
    margin-top: 50px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    
}
.card {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 3px rgb(9, 9, 9);
}
.card .produitme{
    height: 150px;
    border-radius:40px  ;
    border-left: 3px solid black;
    border-top: 3px solid black;

}
.mapflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card .produitme:hover{
    border-radius:40px  ;
    border-top: none;
    border-left: none;
    border-right: 5px solid  black;
    border-bottom: 5px solid black;
}
.card-body{
    justify-content: center;
}
.card-body #achats{
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(1, 9, 2);
    text-align: center;
    justify-content: center;
   
}
.card-body #details{
    text-decoration: none;
    color: white;
    padding: 6px 7px;
    background-color: green;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(140, 235, 191);
   
}
.card-body #supprimer{
    text-decoration: none;
    color: white;
    padding: 6px 7px ;
    background-color: red;
    border-radius: 10px  ;
    box-shadow: 0 5px 10px rgb(249, 118, 118);
   
}
@media screen and (max-width: 700px) {
    .produitme img{
        width: 330px;
        height: 150px;
        text-align: center;
        justify-content: center;
        padding: 5px;
    }
    
}