.App {
  text-align: center;
  background-color: whitesmoke;
  color: rgb(224, 149, 9);
  text-decoration: none;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 100px;
  background: rgb(224, 149, 9);
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
  background: black;
}


@media screen and (max-width:700px){
 
}
